<meta charset="UTF-8">
<script>
var a = [];
var c = 1;

// cria o vetor com n posições.

while(c == 1){
    let b = prompt("Digite um número / f para encerrar.");
    if(b == "f"){
        c = 0;
        break;
    }
    parseInt(b);
    a.push(b);
}

var aux = a;

// Coletar todos os elementos negativos.
var negativos = [];

for(i = 0; i < a.length; i++){
    if(a[i] < 0){
        negativos.push(a[i]);
    }
}

negativos.sort(function(a,b){
    return b - a;
})

// Juntar todos os elementos de forma crescente, para organização.
var multi = [];

if(negativos.length % 2 == 0){ 
    for(i = 0; i < negativos.length; i++){
        multi.push(negativos[i]);
    }
} else if(negativos.length == 0){
    multi = 1;
} else {
    for(i = 1; i < negativos.length; i++){
        multi.push(negativos[i]);
    }
    //removendo o negativo.
    var menorNegativo = negativos[0];
    var indexMenorNegativo = a.indexOf(menorNegativo);          
    a.splice(indexMenorNegativo,1);
}

for(i = 0; i < a.length; i++){
    if(a[i] > 0){
        multi.push(a[i]);
    }
}

// Obtém o produto.
var total = 1;

for(i = 0; i < multi.length; i++){
    total = total * multi[i];
}

//removendo os "0".
var j = 0;
var d = 1;

while(d == 1){
    if(aux[j] == 0){
        aux.splice(j,1);
        j = 0;
    }
    j++;
    if(j == aux.length){
        d = 0;
    }
}

document.write(a + "<br>");
document.write("Produto = " + total);
</script>